name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install emsdk
        uses: mymindstorm/setup-emsdk@v9
      
      - name: Check emsdk version
        run: emcc -v
